<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda Heroes</title>
    <link rel="stylesheet" href="../Css/style.css" />
 </head>
  <body>
    <header>
      <div class="descuentos">
        <p>20% de descuento en todos los productos!</p>
      </div>
      <div class="bannertienda">
        <i class="fas fa-store"></i>
        <span>heroes shop</span>
      </div>
      <div>
        <nav class="barranav">
          <a href="contacto.html">contacto</a>
          <a href="registro.html">registrarme</a>
          <a href="../index.html">ingresar</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="perfil batman">
        <i class="fas fa-heart"></i>
        <img
          class="foto-perfil"
          src="../img/perfil-batman.png"
          alt="foto batman"
        />
        <div class="historia">
          <h2>batman</h2>
          <p>
            Bruce Wayne es el único personaje que se identifica como Batman y
            aparece en Batman, Detective Comics, Batman y Robin, y Batman: The
            Dark Knight. Dick Grayson vuelve al manto de Nightwing
          </p>
          <button class="ver-mas" type="submit">ver más</button>
        </div>
      </section>
      <section class="perfil superman">
        <i class="fas fa-heart"></i>
        <img
          class="foto-perfil"
          src="../img/perfil-superman.png"
          alt="foto superman"
        />
        <div class="historia">
          <h2>superman</h2>
          <p>
            Es un superhéroe que apareció por primera vez en los cómics
            estadounidenses publicados por DC Comics.El personaje fue creado
            por el escritor estadounidense Jerry Siegel y el artista canadiense
            Joe Shuster en 1933 cuando ambos se encontraban viviendo en
            Cleveland, Ohio.
          </p>
          <button class="ver-mas" type="submit">ver más</button>
        </div>
      </section>
      <section class="perfil wonder-woman">
        <i class="fas fa-heart"></i>
        <img
          class="foto-perfil"
          src="../img/perfil-mujer-maravilla.png"
          alt="foto wonder woman"
        />
        <div class="historia">
          <h2>wonder woman</h2>
          <p>
            Es una superheroína creada por William Moulton Marston para la
            editorial DC Comics. Es una princesa guerrera de las Amazonas,
            pueblo ficticio basado en el de las amazonas de la mitología griega.
            En su tierra natal es conocida como la princesa Diana de Temiscira
            pero fuera de esta utiliza la identidad secreta de Diana Prince.
          </p>
          <button class="ver-mas" type="submit">ver más</button>
        </div>
      </section>
      <section class="perfil harleyQ">
        <i class="fas fa-heart"></i>
        <img
          class="foto-perfil"
          src="../img/perfil-hq.png"
          alt="foto harley q"
        />
        <div class="historia">
          <h2>harley q</h2>
          <p>
            Harley Quinn es un personaje ficticio creado por los estadounidenses
            Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su
            debut en el vigésimo-segundo episodio de Batman: la serie animada,
            «El favor del Joker», en septiembre de 1992 y se convirtió en una
            villana recurrente en la serie.
          </p>
          <button class="ver-mas" type="submit">ver más</button>
        </div>
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
  </body>
</html>
© 2022 GitHub, Inc.
Terms
Privacy
Security
